@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Yu Gothic Medium", "YuGothic", "游ゴシック Medium", "游ゴシック", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  color: #ffffff;
  background: #736F80;
  width: 17%;
  height: 100%;
  padding-top: 0.5rem;
  left: 0;
  position: fixed;
  z-index: 1;
}

li {
  padding: 10%;
  font-size: 23px;
}

.date-list {
  display: flex;
}

.date,
.arrow {
  display: inline-block;
  padding: 5% 2% 0 2%;
  font-size: 2rem; /* ← 調整 */
}
.arrow_open img{
  display: inline-block;
  transform: rotate(180deg);
}

.form {
  padding: 0;
  margin: 5%;
  border: solid 3px rgba(176, 176, 205, 1);
  font-size: 2rem; /* ← 調整 */
}

.label {
  display: flex;
  padding: 4%;
}

.tab {
  padding: 1% 5% 1% 1%;
  background-color: rgba(176, 176, 205, 1);
  display: flex;
  justify-content: flex-end;
}

.container {
  padding-left: 20%;
}

.menu li {
  padding: 0 0 1em 2em; /* 小さめの余白 */
  font-size: 0.8em;
  list-style: square;
  list-style-position: inside;
}

.cal-sum {
  margin-left: auto;
}
