@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--forground);
  background: var(--background);
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  color: #ffffff;
  background: #736F80;
  width: 15%;
  height: 100%;
  padding-top: 0.5rem;
  left: 0;
  position: fixed;
  z-index: 1;
}

li{
  padding: 5%;
  font-size: 20px;
}

.container{
  padding-left: 15%;
}